.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #e6c9ce;
    border-bottom: 1px solid rgb(113, 21, 63);
    margin-bottom: 20px;
    box-shadow: 0 1px 6px rgb(113, 21, 63);
  }

  .nav {
    display: flex;
    gap: 24px;
  }

  .link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    padding: 6px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }

  .link:hover {
    background-color: rgba(249, 154, 154, 0.4);
    color: #8b004f;
    border: 1px solid rgb(113, 21, 63);

  }

  .isActive {
    color: #8b004f;
    background-color: white;
    box-shadow: 0 0 0 1px #8b004f inset;
    border-radius: 8px;
  }


