.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgb(113, 21, 63);
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.list li:hover {
    transform: scale(1.03);
}

.image {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin: 4px 0;
}
